
<div class="md:w-[60%] sm:w-[85%] w-[90%] h-[260px] mx-4 rounded-[40px] bg-cover bg-center flex flex-col animate__animated animate__fadeInUp 
	sm:px-[65px] px-[40px] py-2 justify-center justify-evenly" style="background-image: url('{imgCardLg}');">
	<p class="text-white text-[36px] animate__animated animate__fadeInUp">Sveriges Godaste Pizza</p>
	<div class="flex gap-6 animate__animated animate__fadeInUp">
		<? Btn c1=#FFFFFF c2=#000000 inner=Address ?>
		<? BtnOutline c1=#FFFFFF inner=Meny inner2=  ?>
	</div>
</div>
