
<div class="md:w-[60%] sm:w-[85%] w-[90%] flex flex-row justify-between mt-24">
	<div class="absolute sm:relative flex flex-col sm:h-full sm:pt-12 sm:ml-0 ml-2 bg-[#FFFFFFCC] sm:px-0 px-4 rounded-lg self-center z-10 backdrop-blur-sm
		animate__animated animate__fadeInLeft">
		<p class="text-[{c1}] text-[35px] font-light">MIXA DIN EGENSALLAD!</p>
		<p class="text-[20px] text-[#1D1D1D] ml-6 font-light">Välj 5 valfria ingrediense i vår fräscha salladsbar!</p>
		<p class="text-[20px] text-[#1D1D1D] ml-6 font-light">(Sallad, tomat, gurka ingår)</p>
	</div>
	<div class="w-[40px] sm:w-[400px] h-[300px] bg-cover bg-center rounded-bl-[150px] animate__animated animate__fadeInUp" style="background-image: url('{imgCardSm}');">
	</div>
</div>
