
<div class="w-full justify-between items-center h-[90px] xl:px-[250px] lg:px-[140px] md:px-[80px] md:flex hidden">
	<img src="{logo}" class="animate__animated animate__fadeInLeft"/>
	<div class="flex gap-[42px]" style="color: {c1}">
		<a href="index.html" class="animate__animated animate__fadeInLeft">Home</a>
		<a href="menu.html" class="animate__animated animate__fadeInLeft">Menu</a>
		<a href="contact.html" class="animate__animated animate__fadeInLeft">Contact</a>
	</div>
	<? BtnOutline inner=0121-13140 class=animate__fadeInLeft inner2=  ?>
</div>
